<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Draw AI demo with NVIDIA's SPADE (GauGAN)</title>

    <!-- Bootstrap core CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="static/style.css" rel="stylesheet" />
    <link href="static/color-picker.css" rel="stylesheet" />
  </head>
  <link href="static/drawingboard.min.css" rel="stylesheet" />

  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <script src="static/drawingboard.min.js" type="text/javascript"></script>

  <body>
    <!-- Navigation -->

    <style>
      #zbeubeu {
        width: 400px;
        height: 600px;
      }
    </style>

    <nav class="navbar navbar-expand-lg navbar-dark static-top dark-background">
      <div class="container">
        <a class="navbar-brand rubik branding" href="#">Draw AI demo</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="#"
                class="nav-link rubik"
                data-toggle="modal"
                data-target="#ContactModal"
                >Additional Info</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col">
            <div id="sidebar" class="sidebar">
              <div class="colorButtons">
		<h4 class="rubik" align="left"><b>1) Choose palette</b></h4>
                <input class="color-picker cp-sm" id="colorpicker" />
              </div>
                <p class="rubik">
			<br> </br>
			Check out the Draw AI <a href="https://github.com/scilley/drawAI/">github,</a>
			powered by NVIDIA's <a href="https://nvlabs.github.io/SPADE/">SPADE,</a>
			or find <i>additional info</i> at the top right </p>
                
            </div>
          </div>
          <div class="col" id="container_col"><div id="zbeubeu">
	   <h4 class="rubik"><b>2) Paint canvas</b></h4>
	  </div></div>
          <div class="col">
	   <div class="extra"><a id="uploadimage" class="btn btn-warning">
	    <b>3) Apply AI</b> (click to convert)
	   </a></div>	  
	   <img class="image" src="" height="100%" width="100%" id="image" />
          </div>
        </div>
	<p class="tips rubik"><br /></p>
      </div>
    </div>
    <!-- Footer -->
    <footer class="page-footer font-small blue">
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3"><br></br>
      </div>
      <!-- Copyright -->
    </footer>

    <!-- Modal -->
    

    <div class="modal" id="ContactModal" role="dialog">
      <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Tips, examples, and sources</h5>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <div class="modal-body">
		<p><b>Tips:</b><br/>
	   	- Paint like a canvas, not a sketchpad.  Shade each object 
		(eg sea, river, house), leaving no white spaces <br/>
		- Draw AI sees paintings as a single layer; overlapping objects may not fully display<br/>
		- Draw AI operates at lower resolution vs NVIDIA's GauGAN because GPUs are disabled
		(to save on server costs) <br/>
		<br/>
		<b>Examples (from NVIDIA):</b><br/>
		- SPADE <a href="https://nvlabs.github.io/SPADE/">project page</a><br/>
		- GauGAN <a href="https://youtu.be/MXWm6w4E5q0">video</a><br/>
		<br/><img src="https://i.imgur.com/HJZrLgf.png" alt="sample 1"/><br/>
		
		<br/>
		<b>Sources:</b><br/>
		- Draw AI <a href="https://github.com/scilley/drawAI">github</a><br/>
		- NVIDIA SPADE <a href="https://github.com/nvlabs/spade/">github</a><br/>
		- Noah Yoshida's <a href="https://github.com/noyoshi/smart-sketch">implementation</a> of 		    drawingboard, flask, and tornado
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>

  <script type="text/javascript" src="static/index.js"></script>
</html>
